fastapi==0.121.1
uvicorn[standard]==0.32.1
python-dotenv==1.2.1
groq
edge-tts
deepface
transformers
torch
opencv-python
google-generativeai
pymysql
cryptography
aiomysql
sqlalchemy
aiohttp
motor
openpyxl
reportlab
google-auth==2.23.4
google-auth-oauthlib==1.1.0
google-auth-httplib2==0.1.1
google-api-python-client==2.108.0
apscheduler==3.10.4
spacy
python-multipart
PyPDF2
python-docx
pytesseract
Pillow
PyMuPDF
email-validator
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
PyJWT==2.10.1